#cookie {
  opacity: 0.8;
}
.nav {
  cursor: pointer;
}
.style_article {
  float: left;
}
#jumboHome img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
}
.jumbotron .badge {
  margin-top: 20px;
}
.jumbotron p,
.jumbotron span {
  margin-top: 10px;
  font-size: 17px;
  text-align: justify;
}
#jumboHome h2 {
  text-align: -webkit-center;
}
.jumbotron {
  margin-bottom: 20px;
}
.btn {
  background-color: #777777;
  border: #777777;
}
.lista .img {
  width: 33%;
  float: left;
  margin-right: 15px;
}
.lista {
  margin-top: 35px;
}
.lista p {
  margin-top: 30px;
}
#address {
  margin-top: 0;
  margin-bottom: 25px;
}
#tel {
  margin-bottom: 30px;
}
#mainrow {
  margin-top: 15px;
}
#myCarousel {
  margin-top: 50px !important;
}
.carousel img {
  width: 100%;
}
.carousel-caption {
  background-color: #ffffff;
  width: 100%;
  left: 0;
  text-shadow: 4px 2px 7px black;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .style_article:last-child {
    clear: both;
  }
}
