#myCarousel {
    margin-top: 50px !important;
}

.carousel img {
    width: 100%;
}

.carousel-caption {
    background-color: #ffffff69;
    width: 100%;
    left: 0;
    text-shadow: 4px 2px 7px black;
}


.style_article {
    float: left;
}

#cookie {
    opacity: 0.8;
}

#jumboHome img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.jumbotron .badge {
    margin-top: 20px;
}

.jumbotron p, .jumbotron span {
    margin-top: 10px;
    font-size: 17px;
    text-align: justify;
}

#jumboHome h2 {
    text-align: -webkit-center;
}

.jumbotron {
    margin-bottom: 20px;
}

.btn {
    background-color: #777777;
    border: #777777;
}

.dropdown-menu>li>a {
    color: #ffffff;
    
}

.dropdown-menu{
    color: #fff;
    background-color: #080808;
    
}

.img_cr{
    width: 33%;
    float: left;
    margin-right: 15px;
}

#im_0{
    width: 100%;
    height: auto;
}
#text_cr{
    margin-left: 20px;
    float: right;   
}



@media only screen and (min-width:768px) and (max-width:1024px) {
    .style_article:last-child {
        clear: both;
    }

}
