body {
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
    background-color: #223A48;
    height: 50px;
    padding-left: 4%;
    margin-bottom:-10px;
    width: 100%;
    }

/* per fissare i cookie ho usato navbar di bootstrap
.cookie {
    width: 100%;
    position: fixed;
    bottom: 0%;
}
*/

.p_header {
    color: white;
    font-size: 18px;
    padding: 15px;
    float: left;
}

.p_hero {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #e4edf6;
    color: #223a48;
    font-size: 18px;
}

/* Position Absolute su unod ei due loghi interni all Hero*/
/*
.style_1 .img_hero  {
    position: absolute;
    top: 50%;
    left: 45%;
}
*/

.style_1 {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #e4edf6;
    position: relative;
    font-size: 18px;
    
}

.style_1 h1 {
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* per la creazione e gestione dei link HEro abbiamo usato bootstrap
.style_1 a img {
    border-radius: 5px;
}
*/

/*
sili per allineare i bottoni dell'hero
*/
.buttonHero {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.buttonHero a { 
    width: auto;
    height: 46px;
    border-radius: 5px;
}

.buttonHero svg {
    margin-right: 10px;
    height: 46px;
    width: auto;
    border-radius: 5px;
    background-color: #3484be;
}

/*
In questa sezione viene gestito il content
*/


/* Usiamo container per gestire stype 2
.style_2 {
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
*/

.container {
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    float: left;

}

.title_article {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 20px;
}

/* Bootstap si occupa del colore e del formato del formato del textbox e cambio del colore al passaggio del mouse*/
/*
.tech {
    padding: 5px;
    background-color: #3484be;
    border-radius: 5px;
    color: #FFF;
}

.tech:hover {
    background-color: #FFF;
    border-radius: 5px;
    color: #3484be;
}
*/

.style_2 img {
    margin-bottom: 13px;
    width: 300px;
    height: auto;
    

}

.like {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid grey;
}


.like_green {
    background-color: #5CB85C;
    border-color: #5CB85C;
    color: #FFF;
}


a {
    text-decoration: none;
}

.footer {
    padding-left: 4%;
    padding-right: 4%;
}

.separetor {
    border: 0.5px solid grey;
}


