/* Nuova versine CSS */

.page-header {
    font-size: 18px;
    background-color: #223A48;
    color: #e4edf6;
    border: 0px;
    margin: 0px;
    padding-top: 15px;
    height: 50px;    
}

p .p_header {
    margin-top: 10px !important;
}

.jumbotron {
    background-color: #e4edf6;
    padding: 40px 0px 30px 0px !important;
    

}
.colorHero{
    background-color: #e4edf6;
    margin-top: 50px;
    color:#223A48;
}

.buttonHero svg {
    margin-right: 10px;
    height: 46px;
    width: auto;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: #3484be;
}

.buttonHero {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.buttonHero a { 
    width: auto;
    height: 46px;
    border-radius: 5px;
}


/*
In questa sezione viene gestito il content
*/

.title_article {
    padding-top: 45px;
}


.like:hover {
    color: #333;
    background-color: #ffffff !important; 
    border-color: #333;
    border: 1px solid grey;
}

.like {
    padding: 7px;
    border-radius: 7px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid grey;
}


.like_green {
    background-color: #5CB85C;
    border-color: #5CB85C;
    color: #FFF;
}

footer .container {
margin-top: 40px;
margin-bottom: 40px;
}

.separetor {
    border: 0.5px solid grey;
    margin-bottom: 20px;
}

.tech {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:  #3484be;
    color: #fff;
    }
